@font-face {
    font-family: 'DJI-Bold';
    src: url('/fonts/Dji_NBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DJI-Light';
    src: url('/fonts/Dji_NLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    /* Increased tracking for premium feel */
}

body {
    font-family: 'Open Sans', sans-serif;
}